name: Create Release and Upload EXE

on:
  push:
    tags:
      - 'v*' # Push events to tags matching v*, e.g. v1.0, v20.15.10

jobs:
  build-and-release:
    runs-on: windows-latest
    permissions:
      contents: write # Required to create a release

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install .

      - name: Build executable with PyInstaller
        run: pyinstaller RawAlchemy.spec

      - name: Prepare Artifact for Release
        run: |
          $tag = "${{ github.ref_name }}"
          $asset_name = "RawAlchemy-$tag.exe"
          Move-Item -Path "dist/RawAlchemy.exe" -Destination "dist/$asset_name"
          echo "ASSET_PATH=dist/$asset_name" | Out-File -FilePath $env:GITHUB_ENV -Append
        shell: pwsh

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.ASSET_PATH }}